<div id="page" [ngStyle]="{fontFamily: font}">
<h1>First Angular app</h1>
<h3><u>Programmers</u></h3>
<select [(ngModel)]="font">
    <option>Arial</option>
    <option>Comic Sans MS</option>
    <option>Consolas</option>
    <option>Courier</option>
    <option>Forte</option>
    <option>Agency FB</option>
</select>
<ul>
    <li *ngFor="let x of developers">{{x}}</li>
</ul>
<div id="main-body">
<app-box *ngFor="let x of titles;let y=index" 
[title]="x"
 [items]="items[y]"
 [buttonText]="buttonTitle[y]">
</app-box>

</div>
<app-footer></app-footer>

</div>